SECRET_KEY=sua-secret-key-aqui
LIGACAO_COSMOS=mongodb://sua-ligacao-mongodb-aqui
AZURE_OPENAI_KEY=sua-chave-openai-aqui
AZURE_OPENAI_ENDPOINT=https://seu-endpoint-openai.cognitiveservices.azure.com/

# Configurações de E-mail (Recuperação de Password)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seu-email@gmail.com
MAIL_PASSWORD=sua-app-password-aqui
